*,
*::after,
*::before {
  // outline: 1px solid #000;
}

button {
  cursor: pointer;
  border: none;
}

img {
  object-fit: cover;
}

h1 {
  font-family: "Nova Round", "Noto Sans TC", cursive;
}

h3,
.h3 {
  font-size: 1.5rem;
}

a {
  color: #000;
  text-decoration: none;
  display: block;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-group .btn {
  text-align: center;
}

.wrap {
  position: relative;
  padding-bottom: 100px; // footer
}

.flex {
  display: flex;
}

.container {
  // margin: 16px 0;
  max-width: 1200px;
  margin: 0 auto;
}

// logo
.logo img {
  height: 80px;
}
.navbar {
  position: sticky;
  top: 0;
  background-color: #fff;
}

// nav bar
.navbar.flex {
  justify-content: space-between;
}
.nav {
  &-collapse {
    &.active {
      display: block;
      flex-direction: column;

      width: 100%; // 讓 flex-wrap 才會撐到下一行
    }
  }
  margin: 16px 0;
  i {
    margin-right: 10px;
  }
  input {
    margin: 22px 0;
  }
  .nav-link {
    padding: 22px 16px;
    transition: color 5s linear, background-color 5s linear;
    &:hover {
      color: #fff;
      background-color: #000;
      i {
        color: #fff;
      }
    }
  }
}

$size: 3.5rem;
.navbar-toggler {
  display: none;
  width: $size;
  height: $size;
  // style of bars
  i,
  span::after,
  span::before {
    font-size: $size * 0.6;
    line-height: $size * 0.1;
    color: teal;
    vertical-align: middle;

    // 三線變成❌的轉場
    transition: all 300ms ease-out;
  }
  span {
    &::after,
    &::before {
      display: inline-block;

      // 上下的線
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f068";
    }
  }
  // active 下變❌
  &.active {
    i {
      opacity: 0;
    }
    span::before {
      transform: translateY(1rem) rotate(45deg);
    }
    span::after {
      transform: translateY(-1rem) rotate(-45deg);
    }
  }
}

@media (max-width: 576px) {
  .navbar-toggler {
    display: block;
  }
  .nav-collapse {
    display: none;
  }
}

.col-1 {
  width: calc(100% / 12 * 1);
}
.col-2 {
  width: calc(100% / 12 * 2);
}
.col-3 {
  width: calc(100% / 12 * 3);
}
.col-4 {
  width: calc(100% / 12 * 4);
}
.col-5 {
  width: calc(100% / 12 * 5);
}
.col-6 {
  width: calc(100% / 12 * 6);
}
.col-7 {
  width: calc(100% / 12 * 7);
}
.col-8 {
  width: calc(100% / 12 * 8);
}
.col-9 {
  width: calc(100% / 12 * 9);
}
.col-10 {
  width: calc(100% / 12 * 10);
}
.col-11 {
  width: calc(100% / 12 * 11);
}
.col-12 {
  width: calc(100% / 12 * 12);
}

// css animation
.css_animation {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
  }
  li {
    /* the important bits */
    perspective: 600px;

    position: relative;
    width: 300px;
    height: 300px;
    padding: 0;
    a {
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      border-radius: 4px;
    }
    .normal {
      width: 100%;
      height: 100%;
    }
  }
  .info {
    // hide-initial-state
    transform: rotate3d(1, 0, 0, 90deg);

    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    pointer-events: none;
    background-color: rgba($color_primary, 0.5);
    h3 {
      position: absolute;
      font-size: 3rem;
      top: 50%;
      left: 50%;
      color: $color_text;
      transform: translate(-50%, -50%);
    }
  }
}

.in-top .info {
  transform-origin: 50% 0%;
  animation: in-top $duration $timing-fn 0ms 1 forwards;
}
.in-right .info {
  transform-origin: 100% 0%;
  animation: in-right $duration $timing-fn 0ms 1 forwards;
}
.in-bottom .info {
  transform-origin: 50% 100%;
  animation: in-bottom $duration $timing-fn 0ms 1 forwards;
}
.in-left .info {
  transform-origin: 0% 0%;
  animation: in-left $duration $timing-fn 0ms 1 forwards;
}

.out-top .info {
  transform-origin: 50% 0%;
  animation: out-top $duration $timing-fn 0ms 1 forwards;
}
.out-right .info {
  transform-origin: 100% 50%;
  animation: out-right $duration $timing-fn 0ms 1 forwards;
}
.out-bottom .info {
  transform-origin: 50% 100%;
  animation: out-bottom $duration $timing-fn 0ms 1 forwards;
}
.out-left .info {
  transform-origin: 0% 0%;
  animation: out-left $duration $timing-fn 0ms 1 forwards;
}

@keyframes in-top {
  from {
    transform: rotate3d(-1, 0, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes in-right {
  from {
    transform: rotate3d(0, -1, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes in-bottom {
  from {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes in-left {
  from {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes out-top {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(-1, 0, 0, 104deg);
  }
}
@keyframes out-right {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, -1, 0, 104deg);
  }
}
@keyframes out-bottom {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 0, 0, 104deg);
  }
}
@keyframes out-left {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 104deg);
  }
}

.left {
  background-color: rgba($color_primary, 0.3);
  height: 360px;
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.section_title {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.section_content {
  color: lighten($color_text, 20);
  font-size: 14px;
  line-height: 1.5;
  margin: 0 40px;
}
.plain_block {
  background: $color_text;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.22);
  position: relative;
  min-height: 400px;
  padding: 40px;
  color: $color_primary;
  .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 48px 0 16px;
  }
  .btn-primary {
    display: block;
    color: $color_primary;
    border: 2px solid $color_primary;
    width: 30%;
    border-radius: 0;
    padding: 1rem;
    background: transparent;
    &:hover,
    &:active {
      background: $color_primary;
      border: 2px solid $color_primary;
      color: $color_text;
    }
  }
  i {
    display: block;
    margin: 1rem;
  }
}
@media (max-width: 767px) {
  .logo {
    display: none;
  }
  .plain_block {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}

textarea {
  border: 2px solid $color_primary;
  color: $color_text;
}

// 0511 homework

.intro {
  background-color: rgba($color_primary, 0.3);
  height: 400px;
  margin: 0 40px;
  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .img {
    display: inline-block;
    position: relative;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    &::before {
      position: absolute;
      content: "Powerrd by HTML.COM";
      right: calc(100% - 190px);
      bottom: 10px;
      font-size: 12px;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
  .content {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
  }
}

i {
  margin: 0 5px;
}

.aside {
  a {
    input {
      width: 100%;
      height: 100%;
      cursor: pointer;
      border: none;
      background-color: #fff;
    }
    height: 60px;
    &:hover input {
      background-color: #000;
      color: #fff;
      transition: color 5s linear, background-color 5s linear;
    }
  }
}

//btn_top

.btn_top {
  position: fixed;
  right: 10%;
  bottom: 10%;
  padding: 15px;
  z-index: 999;
  background-color: rgba($color_primary, 1);
  color: $color_text;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 30px #000;
  &:hover {
    background-color: rgba($color_text, 1);
    color: $color_primary;
  }
}

//grid

.grid {
  width: 100%;
  height: 100vh;
  background-color: pink;
  &::after {
    content: "<768";
  }
}

@media screen and (min-width: 768px) {
  .grid {
    background-color: Indigo;
    &::after {
      color: #fff;
      content: ">768";
    }
  }
}

@media screen and (min-width: 992px) {
  .grid {
    background-color: cornflowerblue;
    &::after {
      content: ">992";
    }
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    background-color: teal;
    &::after {
      content: ">1200";
    }
  }
}

/* footer   */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 16px;
  background-color: rgba($color_primary, 1);
  a {
    padding-right: 5px;
  }
  a:hover {
    color: var(--primaryColor);
  }
}

.footer-link {
  padding: 16px;
  border-radius: 6rem;
  &:hover {
    background-color: #fff;
  }
}
