@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Expletus+Sans:wght@400;700&family=Noto+Sans+TC:wght@400;500;700&family=Nova+Round&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Expletus Sans', 'Noto Sans TC', 'Bree Serif', serif;
  color: #222e50;
  cursor: auto;
}

body a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  font-family: 'Nova Round', 'Noto Sans TC', cursive;
  color: #222e50;
}

a {
  color: #222e50;
}

a:hover {
  color: #ffcf56;
}

.wrap {
  position: relative;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.aside {
  width: 30%;
}

.main {
  width: 70%;
}

.logo {
  position: relative;
  width: 300px;
  height: 200px;
  padding: 30px;
  padding-top: 70px;
  margin-left: 10px;
  font-family: 'Expletus Sans', cursive;
  text-decoration: none;
  color: #222e50;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  text-align: center;
}

.logo:hover {
  color: #222e50;
}

.logo h1 {
  font-size: 2em;
  border-top: 2px solid #ffcf56;
  word-spacing: 5px;
  letter-spacing: 3px;
}

.logo h1::before {
  position: absolute;
  left: 4rem;
  top: 1rem;
  z-index: -1;
  content: '\f111';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 9rem;
  color: #ffcf56;
}

.logo h2 {
  border-bottom: 2px solid #ffcf56;
}

.logo h2::after {
  position: absolute;
  z-index: -1;
  content: '\f111';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 4em;
  top: 6.5rem;
  right: 2rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px 0;
}

.nav i {
  margin-right: 10px;
  color: #222e50;
}

.nav h1 {
  padding: 22px 24px;
}

.nav input {
  margin: 22px 0;
}

.nav .nav-link {
  display: inline-block;
  padding: 22px 24px;
  text-decoration: none;
  color: #222e50;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  height: 60px;
}

.nav .nav-link:hover {
  border-top: 3px solid #ffcf56;
  border-bottom: 3px solid #ffcf56;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.col-1 {
  width: calc(100% / 12 * 1);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: calc(100% / 12 * 12);
}

.css_animation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.css_animation li {
  /* the important bits */
  -webkit-perspective: 600px;
          perspective: 600px;
  position: relative;
  width: 300px;
  height: 300px;
  padding: 0;
}

.css_animation li a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border-radius: 4px;
}

.css_animation li .normal {
  width: 100%;
  height: 100%;
}

.css_animation .info {
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
          transform: rotate3d(1, 0, 0, 90deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  pointer-events: none;
  background-color: rgba(255, 207, 86, 0.5);
}

.css_animation .info h3 {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  color: #222e50;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.in-top .info {
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation: in-top 300ms ease 0ms 1 forwards;
          animation: in-top 300ms ease 0ms 1 forwards;
}

.in-right .info {
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-animation: in-right 300ms ease 0ms 1 forwards;
          animation: in-right 300ms ease 0ms 1 forwards;
}

.in-bottom .info {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-animation: in-bottom 300ms ease 0ms 1 forwards;
          animation: in-bottom 300ms ease 0ms 1 forwards;
}

.in-left .info {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-animation: in-left 300ms ease 0ms 1 forwards;
          animation: in-left 300ms ease 0ms 1 forwards;
}

.out-top .info {
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation: out-top 300ms ease 0ms 1 forwards;
          animation: out-top 300ms ease 0ms 1 forwards;
}

.out-right .info {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: out-right 300ms ease 0ms 1 forwards;
          animation: out-right 300ms ease 0ms 1 forwards;
}

.out-bottom .info {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-animation: out-bottom 300ms ease 0ms 1 forwards;
          animation: out-bottom 300ms ease 0ms 1 forwards;
}

.out-left .info {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-animation: out-left 300ms ease 0ms 1 forwards;
          animation: out-left 300ms ease 0ms 1 forwards;
}

@-webkit-keyframes in-top {
  from {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg);
            transform: rotate3d(-1, 0, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes in-top {
  from {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg);
            transform: rotate3d(-1, 0, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@-webkit-keyframes in-right {
  from {
    -webkit-transform: rotate3d(0, -1, 0, 90deg);
            transform: rotate3d(0, -1, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes in-right {
  from {
    -webkit-transform: rotate3d(0, -1, 0, 90deg);
            transform: rotate3d(0, -1, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@-webkit-keyframes in-bottom {
  from {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes in-bottom {
  from {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@-webkit-keyframes in-left {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
            transform: rotate3d(0, 1, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes in-left {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
            transform: rotate3d(0, 1, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@-webkit-keyframes out-top {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(-1, 0, 0, 104deg);
            transform: rotate3d(-1, 0, 0, 104deg);
  }
}

@keyframes out-top {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(-1, 0, 0, 104deg);
            transform: rotate3d(-1, 0, 0, 104deg);
  }
}

@-webkit-keyframes out-right {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, -1, 0, 104deg);
            transform: rotate3d(0, -1, 0, 104deg);
  }
}

@keyframes out-right {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, -1, 0, 104deg);
            transform: rotate3d(0, -1, 0, 104deg);
  }
}

@-webkit-keyframes out-bottom {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(1, 0, 0, 104deg);
            transform: rotate3d(1, 0, 0, 104deg);
  }
}

@keyframes out-bottom {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(1, 0, 0, 104deg);
            transform: rotate3d(1, 0, 0, 104deg);
  }
}

@-webkit-keyframes out-left {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 104deg);
            transform: rotate3d(0, 1, 0, 104deg);
  }
}

@keyframes out-left {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 104deg);
            transform: rotate3d(0, 1, 0, 104deg);
  }
}

.left {
  background-color: rgba(255, 207, 86, 0.3);
  height: 360px;
  top: 20px;
  position: relative;
  width: 50%;
}

@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}

.section_title {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}

.section_content {
  color: #405798;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 40px;
}

.plain_block {
  background: #222e50;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.22);
  position: relative;
  min-height: 400px;
  padding: 40px;
  color: #ffcf56;
}

.plain_block .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 48px 0 16px;
}

.plain_block .btn-primary {
  display: block;
  color: #ffcf56;
  border: 2px solid #ffcf56;
  width: 30%;
  border-radius: 0;
  padding: 1rem;
  background: transparent;
}

.plain_block .btn-primary:hover, .plain_block .btn-primary:active {
  background: #ffcf56;
  border: 2px solid #ffcf56;
  color: #222e50;
}

.plain_block i {
  display: block;
  margin: 1rem;
}

@media (max-width: 767px) {
  .plain_block {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}

textarea {
  border: 2px solid #ffcf56;
  color: #222e50;
}

.intro {
  background-color: rgba(255, 207, 86, 0.3);
  height: 400px;
  margin: 0 40px;
}

.intro::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.intro .img {
  display: inline-block;
  position: relative;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.intro .img::before {
  position: absolute;
  content: 'Powerrd by HTML.COM';
  right: calc(100% - 190px);
  bottom: 10px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.5);
}

.intro .content {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
}

i {
  margin: 0 5px;
}

.aside {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.aside a {
  height: 60px;
}

.aside a input {
  width: 100%;
  height: 100%;
}

.aside a:hover input {
  background-color: #ffcf56;
  color: red;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.btn_top {
  position: fixed;
  right: 10%;
  bottom: 10%;
  padding: 15px;
  z-index: 999;
  background-color: #ffcf56;
  color: #222e50;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 30px #000;
          box-shadow: 0 0 30px #000;
}

.btn_top:hover {
  background-color: #222e50;
  color: #ffcf56;
}
/*# sourceMappingURL=all.css.map */