.nav-link {
  font-family: "Nova Round", "Noto Sans TC", cursive;
  color: #fff;
  &:hover {
    color: darken(#fff, 30%);
  }
}
.navbar-nav .dropdown-toggle::after {
  display: none;
}

.footer {
  font-family: "Nova Round", "Noto Sans TC", cursive;
  .social-media {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 5px;
      right: 14%;
      height: 2px;
      width: 0%;
      background-color: $primary;
      transition: width 0.15s ease-in-out;
    }
    i {
      transition: rotate 0.15s ease-in-out;
    }
    &:hover {
      &::after {
        width: 86%;
      }
      i {
        rotate: -30deg;
      }
    }
  }
}
