.hero {
  margin-top: -80px;
  position: relative;
  min-height: 70vh;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    @include full-background-image(
      "https://images.unsplash.com/photo-1584697964479-60a5a1d11307?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
    );
  }
  background-color: rgba($color: #000, $alpha: 0.3);
}
