.page-not-found {
  .text-clip {
    @include full-background-image(
      "https://images.unsplash.com/photo-1585895729250-386968e985ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80",
      bottom center
    );
    background-clip: text;
    color: transparent;
    h1,
    h2 {
      font-family: "Paytone One", cursive;
    }
    h1 {
      font-size: 12vw;
      @media screen and (max-width: 767px) {
        font-size: 22vw;
      }
    }
  }
  img {
    max-height: 100vh;
  }
}
