@import "./utils/variables";
@import "./utils/mixins";

@import "./vendors/bootstrap";

@import "./base/typography";
@import "./base/base";

@import "./layout/navbar";
@import "./layout/form";

@import "./components/spinIcons";
@import "./components/avatar";
@import "./components/card";
@import "./components/logoutIcon";

@import "./pages/pageNotFound";
@import "./pages/home";

.price::before {
  content: "$";
}

@media screen and (min-width: 767px) {
  .plain-text-container {
    max-width: 60vw;
    margin: 0 auto;
  }
}
